<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="filePathToDataSource" value="metadata.xml" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime" name="TextWriter" initializeData="trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <add name="Logs"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=DESKTOP-1P9OVOQ\SQLEXPRESS;Initial Catalog=LogsTPA;Integrated Security=true;"/>
    <add name="AssemblyDatabase"
          providerName="System.Data.SqlClient"
          connectionString="Data Source=DESKTOP-1P9OVOQ\SQLEXPRESS;Initial Catalog=TePeA;Integrated Security=true;"/>
  </connectionStrings>
</configuration>